@media only screen and (max-width: 1100px) {
  .wrapper {
    width: 90%;
  }

  #social {
    position: absolute;
    top: 82px;
    right: 4px;
    width: auto;
  }
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 85%;
  }

  #logo h1 {
    width: 35px;
    height: 35px;
  }

  #logo h2 {
    font-size: 2.2em;
  }

  #social {
    position: absolute;
    top: 72px;
    right: 4px;
    width: auto;
  }

  .col-3 p {
    -moz-column-rule: 1px dotted #ccc;
    -webkit-column-rule: 1px dotted #ccc;
    column-rule: 1px dotted #ccc;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (max-width: 750px) {
  #navbar nav a {
    font-size: 0.9em;
  }

  .col-3 p {
    -moz-column-rule: 1px dotted #ccc;
    -webkit-column-rule: 1px dotted #ccc;
    column-rule: 1px dotted #ccc;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  [class*="col-"] {
    margin-left: 0;
    width: 100%;
    float: none;
  }

  .border-right {
    border: 0;
  }

  #details div {
    height: auto;
  }
}
/****Bonus****/
@media only screen and (max-width: 700px) {
  nav a {
    visibility: hidden;
  }

  #navbar nav a.menu-icon {
    display: block;
  }

  #logo h2 {

  }
}
